body{
position: relative;
/* margin: 0 auto; */
width: 414px;
height: 896px;
background: linear-gradient(180deg, #D3E0EA 64.06%, rgba(246, 245, 245, 0.67) 85.42%);
}

html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  text-align: center;
}


.hidden {
    display: none;
  }

  